/bazel-*
/user.bazelrc

__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
*.egg-info/
/build/
/dist/
/docs/_build/
.venv/
examples/*/bazel-*
MODULE.bazel.lock
